/* Medium Devices, Desktops */
@media only screen and (max-width: 1024px) {
    .main {
        margin: 20px 0;
    }

    .profile .girl-item {
        margin-bottom: 20px;
    }

    .slick-slide a {
        height: 400px!important;
    }

    .fancybox-container {
        z-index: 999999999999999;
    }
}


/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
    h1 {
        font-size: 22px;
    }
    h1 strong {
        font-size: 24px;
    }
}
