body {
    background-color: rgb(255, 255, 255);
}
body.fixed{overflow:hidden;position:fixed;width:100%;height:100%}
a {
    outline: none !important;
}
a:hover {
    color: #ec048a !important;
    text-decoration: none !important;
}

.main {
    display: block;
    margin: 50px 0;
}

h1 {
    margin: 0 0 50px 0;
    font-size: 24px;
    font-family: "RobotoBold";
    color: rgb(147, 147, 147);
}
h1 strong {
    font-size: 36px;
    font-family: "RobotoRegular";
    font-weight: normal;
    color: #000000;
}

/* Girls */
.girl-item {
    position: relative;
    margin-bottom: 30px;
    -webkit-transition: all 0.35s ease;
    -moz-transition: all 0.35s ease;
    -ms-transition: all 0.35s ease;
    -o-transition: all 0.35s ease;
    transition: all 0.35s ease;
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: cover;
    height: 370px;
}
.main .girl-item {
    height: auto;
}
.slider-wraper {
    position: relative;
}
.girl-item .play {
    box-shadow: 0px 0px 20px rgba(0,0,0,0.4);
    border-radius: 5px;
    background: #fff;
    padding-right: 8px;
    position: absolute;
    bottom: 14px;
    left: 10px;
    cursor: pointer;
    z-index: 9;
}
.girl-item .play img {
    width: 48px;
    height: auto;
    border-radius: 24px;
}
.girl-item .play span {
    font-size: 18px;
    color: #000;
}
.fancybox-slide--video .fancybox-content {
    width  : 800px;
    height : 600px;
    max-width  : 80%;
    max-height : 80%;
}

.girl .girl-slider {
    position: relative;
}
.girl .slick-slide,
.girl .slick-slide img {
    outline: none;
}
.girl .girl-slider-min {
    margin: 10px 0 0 0;
}
.girl .girl-slider-min .slick-slide img {
    padding: 4px;
    width: 83px;
    height: 83px;
}
.profile .name {
    font-size: 30px;
    font-family: "RobotoRegular";
    color: rgb(0, 0, 0);
}
.profile .name.verify img {
    display: inline-block;
    margin-top: -4px;
    width: 16px;
    height: 16px;
}
.profile .desc {
    margin: 25px 0;
    font-size: 14px;
    font-family: "RobotoRegular";
    color: rgb(147, 147, 147);
    line-height: 1.714;
}
.profile h4 {
    font-size: 18px;
    font-family: "RobotoRegular";
    color: rgb(66, 66, 66);
}
.profile .profile-item {
    display: inline-block;
    margin: 5px 0;
    width: 45%;
}
.girl h2 {
    font-family: "RobotoRegular";
    font-weight: normal;
}
.girl p {
    font-size: 14px;
    color: rgb(0, 0, 0);
    line-height: 24px;
}
